.navbar {
    background-color: #00f5fd;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #84faf0;
}

#project {
    background-color: #84faf0;
}

footer {
    background-color: #00f5fd;
}

section {
    padding-top: 5rem;
}